<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Super Peças - Carros</title>
  <link rel="stylesheet" href="/super-pecas/src/styles.css">
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" /> -->
</head>
<body>
  <header>
    <h1>Super Peças</h1>
  </header>
  <main>
    <nav class="menu">
      </nav>
    <section class="conteudo">
      </section>
  </main>

  <footer>
    <p>&copy; 2024 Super Peças</p>
  </footer>
</body>
</html>
