<div class="add-search">
  <div class="add-car">
    <button mat-stroked-button color="primary" (click)="openAddForm()">Adicionar Peça</button>
  </div>
  <div class="search-car">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input type="text" pInputText [(ngModel)]="searchText" (input)="onSearchChange()" placeholder="pesquise aqui">
  </span>
  </div>
</div>
<mat-card class="car-card">
  <div class="dados">
    <p-table [value]="filteredPecas" [paginator]="false" [rows]="rows" [totalRecords]="totalRecords" class="p-datatable">
      <ng-template pTemplate="header">
          <tr>
              <th>Id</th>
              <th>Nome</th>
              <th>Descricao</th>
              <th>NumeroSerie</th>
              <th>Fabricante</th>
              <th>ModeloCarro</th>
              <!-- <th>CarroId</th> -->
              <th>Ações</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-peca>
          <tr class="p-datatable-tbod">
              <td>{{ peca.pecaId }}</td>
              <td>{{ peca.nome }}</td>
              <td>{{ peca.descricao }}</td>
              <td>{{ peca.numeroSerie }}</td>
              <td>{{ peca.fabricante }}</td>
              <td>{{ peca.modeloCarro }}</td>
              <!-- <td>{{ peca.carroId }}</td> -->
              <td>
                <p-button icon="pi pi-pencil" [rounded]="true" [text]="true" severity="info" (click)="openEditForm(peca.pecaId)">
                </p-button>
                <p-button icon="pi pi-trash"  [rounded]="true" [text]="true" severity="danger " mat-button (click)="openConfirmDialogPeca(peca.pecaId, peca.nome )">
                </p-button>
                <!-- <button mat-button (click)="openConfirmDialogPeca(peca.pecaId)">Launch dialog</button> -->
              </td>
          </tr>
      </ng-template>
    </p-table>
  </div>
  <p-paginator [showCurrentPageReport]="true" currentPageReportTemplate="Exibindo {{first + 1}} - {{first + rows}} de {{totalRecords}} registros" (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="totalRecords"></p-paginator>
</mat-card>
