<div class="header">
  <mat-card class="welcome-card">
    <div class="card-content">
      <div class="container-header">
        <div class="car-img">
          <img src="assets/images/pecas2-white.png" alt="peça-img">
        </div>
        <div class="text-container">
          <h1>Listagem de Peças</h1>
        </div>
      </div>
    </div>
  </mat-card>
</div>

<div class="add-search">
  <div class="add-peca">
    <button mat-stroked-button color="primary" (click)="openAddForm()">Adicionar Peça</button>
  </div>
  <div class="search-peca">
    <mat-form-field>
      <input matInput placeholder="Pesquisar Peça">
    </mat-form-field>
  </div>
</div>
<mat-card class="peca-card">
  <div class="car-table-container">
    <p-table [value]="filteredPecas" [paginator]="false" [rows]="rows" [totalRecords]="totalRecords">
      <ng-template pTemplate="header">
          <tr>
              <th>Id</th>
              <th>Nome</th>
              <th>Descricao</th>
              <th>NumeroSerie</th>
              <th>Fabricante</th>
              <th>ModeloCarro</th>
              <!-- <th>CarroId</th> -->
              <th>Ações</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-peca>
          <tr class="p-datatable-tbod">
              <td>{{ peca.pecaId }}</td>
              <td>{{ peca.nome }}</td>
              <td>{{ peca.descricao }}</td>
              <td>{{ peca.numeroSerie }}</td>
              <td>{{ peca.fabricante }}</td>
              <td>{{ peca.modeloCarro }}</td>
              <!-- <td>{{ peca.carroId }}</td> -->
              <td>
                <p-button icon="pi pi-pencil" [rounded]="true" [text]="true" severity="info" (click)="openEditForm(peca)">
                </p-button>
                <p-button icon="pi pi-trash"  [rounded]="true" [text]="true" severity="danger " (click)="openConfirmDialog(peca.pecaId)">
                </p-button>
              </td>
          </tr>
      </ng-template>
    </p-table>
  </div>
  <p-paginator [showCurrentPageReport]="true" currentPageReportTemplate="Exibindo {{first + 1}} - {{first + rows}} de {{totalRecords}} registros" (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="totalRecords"></p-paginator>
</mat-card>
