
::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  color: #7E7E7E;
}

::ng-deep .p-datatable-wrapper {
  max-height: 600px;
}

::ng-deep .p-paginator {
  background-color: #fff;
}

.add-search {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.add-car {
  margin-top: 110px;
  margin-left: 10px;
}

::ng-deep .search-car input:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 252, 206, 0.87);
  color: #7E7E7E;
}

.search-car {
  margin-top: 110px;
  margin-bottom: -15px;
  margin-right: 10px;
}

.car-card{
  background-color: #FFFFFF;
  width: 98.8%;
  display: flex;
  justify-content: center;
  margin-top: -5px;
  margin-left: 10px;
  height: 652px;
}

.custom-label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.custom-input {
  width: calc(15.77% - 0px);
  margin-bottom: 15px;
  margin-left: 15px;
  display:  -ms-inline-grid;
}

.car-img img {
  width: 60px;
  height: 60px;
  margin-left: 30px;
  display: flex;
  align-items: center;
}

.dados {
  margin-top: -15px;
}

.acoes p-button {
  margin-right: 10px;
}
