<div class="header">
  <mat-card class="pecas-card">
    <div class="card-content">
      <div class="container-header">
        <!-- <div class="peca-img">
          <img src="assets/images/pecas2-white.png" alt="peca-img">
        </div> -->
        <div class="text-container">
          <h1>{{ isEditing ? 'Editar Peça' : 'Cadastrar Peça' }}</h1>
        </div>
      </div>
    </div>
  </mat-card>
</div>



<form class="p-formgrid">
    <div class="teste">
      <!-- <input type="text" name="id" [(ngModel)]="peca.pecaId" pInputText required placeholder="Id" class="custom-input"> -->

      <input type="text" name="nome" [(ngModel)]="peca.nome" pInputText required placeholder="Nome" class="custom-input">

      <input type="text" name="descricao" [(ngModel)]="peca.descricao" pInputText required placeholder="Descrição" class="custom-input">

      <input type="text" name="numeroSerie" [(ngModel)]="peca.numeroSerie" pInputText required placeholder="Número de Série" class="custom-input">

      <input type="text" name="fabricante" [(ngModel)]="peca.fabricante" pInputText required placeholder="Fabricante" class="custom-input">

      <input type="text" name="modeloCarro" [(ngModel)]="peca.modeloCarro" pInputText required placeholder="Modelo do Carro" class="custom-input">

      <input type="text" name="carroId" [(ngModel)]="peca.carroId" pInputText required placeholder="Id do Carro" class="custom-input">

    </div>


  <div class="limparGravar">
    <div class="add-peca">
      <button mat-stroked-button color="accent" (click)="limparCampos()">Limpar</button>
    </div>
    <div class="add-peca">
      <button mat-stroked-button color="primary" (click)="salvarPeca()">Gravar</button>
    </div>
  </div>
</form>
