    <div class="add-search">
      <div class="add-car">
        <button mat-stroked-button color="primary" (click)="openAddForm()">Adicionar Carro</button>
      </div>
      <div class="search-car">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input type="text" pInputText [(ngModel)]="searchText" (keypress)="onSearchKeyPress($event)" placeholder="pesquise aqui">
      </span>
      </div>
    </div>

    <mat-card class="car-card">
      <div class="dados">
        <p-table [value]="filteredCarros" [paginator]="false" [rows]="rows" [totalRecords]="totalRecords" class="p-datatable">
          <ng-template pTemplate="header">
              <tr>
                  <th>Id</th>
                  <th>Nome do Modelo</th>
                  <th>Fabricante</th>
                  <th>Código Único</th>
                  <th>Ações</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-carro>
              <tr class="p-datatable-tbod">
                  <td>{{ carro.carroId }}</td>
                  <td>{{ carro.nomeModelo }}</td>
                  <td>{{ carro.fabricante }}</td>
                  <td>{{ carro.codigoUnico }}</td>
                  <td>
                    <p-button icon="pi pi-pencil" [rounded]="true" [text]="true" severity="info" (click)="openEditForm(carro.carroId)">
                    </p-button>
                    <p-button icon="pi pi-trash"  [rounded]="true" [text]="true" severity="danger " (click)="openConfirmDialog(carro.carroId, carro.nomeModelo)">
                    </p-button>
                  </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
                <td style="text-align: center;" colspan="7">Nenhuma peça foi encontrada com o filtro informado.</td>
            </tr>
        </ng-template>
        </p-table>
      </div>

      <p-paginator [showCurrentPageReport]="true" currentPageReportTemplate="Exibindo {{first + 1}} - {{first + rows}} de {{totalRecords}} registros" (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="totalRecords"></p-paginator>

    </mat-card>




