<div class="header">
  <div class="container-header">
    <!-- Conteúdo do menu lateral -->
    <div class="car-img">
      <img src="assets/images/carro3-header.png" alt="car-img">
      <!-- <img src="assets/images/car-black.svg" alt="car-img"> -->
      <!-- <span class="text-container"><h1>Listagem de Carros</h1></span> -->
    </div>
    <span class="text-container"><h1>Listagem de Carros</h1></span>

  </div>
</div>

<ul>
  <li *ngFor="let carro of carros">
    {{ carro.nome }} - {{ carro.modelo }}
  </li>
</ul>
<!-- Seu componente HTML -->
<div class="add-search">
  <div class="add-car">
    <button mat-stroked-button color="primary">Adicionar Carro</button>
  </div>

  <div class="search-car">
    <!-- <span class="material-icons-sharp">
      search
      </span> -->
    <mat-form-field>
      <input matInput placeholder="Pesquisar Carro">
    </mat-form-field>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Modelo</th>
      <th>Ano</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let carro of carros">
      <td>{{ carro.nome }}</td>
      <td>{{ carro.modelo }}</td>
      <td>{{ carro.ano }}</td>
    </tr>
  </tbody>
</table>
