
.logo-container {
  text-align: center;
  margin-top: 15px;
  margin-left: 15px;
}

.logo {
  width: 200px;
}

.container {
  display: flex;
}

.sidebar {
  margin-top: 10px;
  margin-left: 10px;
  position: relative;
  background-color: #FDFDFD;
  width: 200px;
  height: 96vh;
}
.menu {
  /* position: absolute; */
  margin-top: 5px;
  width: 100  px;
}


/* .divider {
  height: 1px;
  width: 100%;
  background-color: #E0E0E0;
  margin-top: 20px;
} */

.user-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: -49px;
}

.user-image {
  width: 40px;
  height: 40px;
}

.user {
  margin-top: 4px;
  color: #000;
}

.user-material {
  font-family: 'Material Symbols Outlined', sans-serif;
  font-size: 36px;

}

.logo-card {
  background-color: #fff;
}
.menu-card {
  margin-top: 16px;
  height: 71vh;
}
