<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" /> -->

<!-- <mat-card class="container-card"> -->
  <div>
    <div class="logo-container">
      <mat-card class="logo-card">
      <div>
        <img src="assets/images/super-pecas.png" alt="Logo do Projeto" class="logo">
      </div>
      <div class="user-image-container">
        <img src="assets/images/user.svg" alt="'Usuário'" class="user-image">
        <span class="user">User</span>
      </div>
      </mat-card>
      <!-- <div class="divider"></div> -->
      <mat-card class="menu-card">
      <div class="menu">
        <mat-nav-list role="list">
          <a mat-list-item routerLink="/home" routerLinkActive="active">Home</a>
          <a mat-list-item routerLink="/carros" routerLinkActive="active">Carros</a>
          <a mat-list-item routerLink="/pecas" routerLinkActive="active">Peças</a>
        </mat-nav-list>
      </div>
    </mat-card>
    </div>
  </div>
<!-- </mat-card> -->
