.dialog-title {
  color: #333;
  font-size: 20px;
}

.dialog-content {
  color: #666;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
}

.cancel-button {
  color: #333;
}

.confirm-button {
  color: #fff;
  background-color: red;
}
.mat-dialog-container {
  width: 800px !important; /* Defina o máximo desejado */
}
