.custom-dialog-container {
  height: 200px;
  background-color: rgb(255, 17, 0);

}

.custom-dialog-title {
  font-weight: bold;
  text-align: center;
  color: white;
}

.custom-dialog-button {
  background-color: white;
  color: #000;
  border: none;
  /* padding: 8px 20px; */
  /* cursor: pointer; */
  margin: auto;
}

.custom-dialog-button:hover {
  background-color: #abcef3;
}

.custom-dialog-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.data-message {
  font-weight: bold;
  text-align: center;
  color: white;
}
