.header {
  width: 87vw;
  height: 130px;
  padding: 10px;
}

.welcome-card {
  width: 87vw;
  margin-left: 11px;
  background-color:#fff;
}

.car-img {
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 20px;
}

/* .text-container h1 {
  margin: 0;
} */


.card-content {
  display: flex;
  align-items: center;
}
.charts-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: 11px;
}

.chart-card {
  width: 100%;
  margin-top: 21px;

}

.canvasjs-chart {
  width: 100%;

}

.chart-wrapper-pie {
  width: 800px;

}
.chart-wrapper-column {
  width: 800px;

}
