
  <div div class="charts-container">
    <div class="chart-wrapper-pie">
      <mat-card class="graficos">
        <mat-card-header>
          <mat-card-title>Top 10 Fabricantes</mat-card-title>
            <mat-card-subtitle class="subtitle">Listagem dos 10 maiores fabricantes</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
                  <ng-container *ngIf="_reloadPie">
                      <div>
                          <canvasjs-chart [options]="chartOptionsPie"></canvasjs-chart>
                      </div>
                  </ng-container>
        </mat-card-content>
      </mat-card>
      </div>
    <div class="chart-wrapper-column">
      <mat-card class="graficos">
        <mat-card-header>
          <mat-card-title>Carros e Peças</mat-card-title>
            <mat-card-subtitle class="subtitle">TOP 10 carros com mais peças cadastrasdas no sistema</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <ng-container *ngIf="_reloadColumn">
            <div>
              <canvasjs-chart [options]="chartOptionsColumn"></canvasjs-chart>
            </div>
          </ng-container>
        </mat-card-content>
      </mat-card>
    </div>
</div>
