
.card-content {
  display: flex;
  align-items: center;
}

.charts-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-top: 158px;
  gap: 10px;
  height: 65vh;
}

/* .chart-card {
  margin-top: 400px;
} */

.chart-wrapper-pie {
  width: 49.4%;
  height: 500vh;
}

.chart-wrapper-column {
  width: 49.4%;
  height: 500vh;
}

.chart-wrapper-pie,
.chart-wrapper-column {

  height: 700px;
  gap: 5px;
}

.graficos {
  height: 699px;
}

.subtitle {
  margin-top: 20px;
  margin-bottom: 20px;
}
