.dialog-title {
  color: #333;
  font-size: 20px;
}

.dialog-content {
  color: #666;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
}

.cancel-button {
  color: white;
  background-color: #7E7E7E;
}

.confirm-button {
  color: white;
  background-color: rgb(103, 190, 123);
}
.mat-dialog-container {
  width: 800px !important;
}

.dialog-title {
  font-weight: bold;
  color: #7E7E7E;
}

.p {
  color: #7E7E7E;
}
