.dialog-title {
  text-align: center;
  color: red;
}

.dialog-content {
  text-align: center;
  color: #666;
  width: 400px;
}

.dialog-actions {
  display: flex;
  justify-content: center;
}

.cancel-button {
  color: white;
  font-weight: bold;
  background-color: #7E7E7E;
}

.confirm-button {
  margin-right: 15px;
  font-weight: bold;
  color: white;
  background-color: rgb(103, 190, 123);
}
